<h1>dina appar</h1>

<div>
    <% if @apps.any? %>
        <% @apps.each do |app| %>
            <div>
                <b><%= app.name %></b>
            </div>
            <div>
                <%= app.api_key %>
            </div>
        <% end %>
    <% end %>

    <%= link_to "New App", new_app_path %>
</div>

