<div class="row">
    <div class="one-third column">&nbsp;</div>
    <div class="one-third column flash-area">
        <% if flash[:notice] %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
        <% end %>    
    </div>
    <div class="one-third column">&nbsp;</div>
</div>